<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <div class="card-title">
        <h5>Cadastro de Usuário</h5>
      </div>
    </div>
    <div class="card-body">

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-primary">Salvar</button>
            <button class="btn btn-success">Editar</button>
            <button class="btn btn-default">Padrao</button>
          </div>
          <div class="card-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" placeholder="Seu Nome" id="nome" name="nome">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" placeholder="Seu email@gmail.com" id="email" name="email">
                </div>
                <input type="text" class="btn btn-primary" value="Cadastrar">
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
